*::selection {
    background-color: palevioletred;
    color: white;
}

*::-moz-selection {
    background-color: palevioletred;
    color: white;
}

*::-webkit-selection {
    background-color: palevioletred;
    color: white;
}

body,
html {
    height: 100%;
    width: 100%;
}

.btn-con {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnItem {
    width: 85%;
    height: 38px;
    line-height: 38px;
    border-radius: 50px;
    background: linear-gradient(270deg, #08bbc2, #144988);
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.btnItem:first-child {
    margin-bottom: 15px;
}

.content {
    display: none;
}

.content .banner {
    width: 100%;
    margin-bottom: .3rem
}

.content .con1 {
    width: 88%;
    margin: 0 auto;
}

.content .con1 .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .46rem;
    line-height: 0.46rem;
    border: .03rem solid #ffffff;
    border-radius: .1rem;
    box-shadow: 0px .015rem .125rem 0px rgba(68, 107, 171, 0.10);
    background: linear-gradient(180deg, #e7edf5, #fcfefe);
    margin-bottom: .2rem;
    color: #222;
    font-size: .15rem;
    padding: 0 0.2rem;
}

.content .con1 .item.active {
    color: #fff;
    background: linear-gradient(180deg, #17578f, #15bac2);
}

.content .flexcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content .active .flexcon .icon {
    display: block;
    background: url("../images/active.png?_=20220429105826") no-repeat;
}

.content .flexcon .icon {
    /*display: none;*/
    width: .18rem;
    height: .18rem;
    background: url("../images/active1.png") no-repeat;
    background-size: 100% !important;
    margin-left: .1rem;
}

.home-btn {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    margin: .6rem auto .3rem;
}

.home-btn:before {
    content: '';
    display: block;
    background: url("../images/btn1.png") no-repeat;
    background-size: 100%;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    animation: rotates 8s linear infinite;
}

@keyframes rotates {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

.home-btn a {
    background: url("../images/btn.png") no-repeat;
    background-size: 100%;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    color: #fff;
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.16rem;
}

/* PC端 */

.clearfix:before {
    content: "";
    clear: both;
    display: table;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* 加载动画 */

.loading-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-box {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-box img {
    width: 80px;
}

@keyframes ldio {
    0% {
        transform: translate(6px, 40px) scale(0);
    }
    25% {
        transform: translate(6px, 40px) scale(0);
    }
    50% {
        transform: translate(6px, 40px) scale(1);
    }
    75% {
        transform: translate(40px, 40px) scale(1);
    }
    100% {
        transform: translate(74px, 40px) scale(1);
    }
}

@keyframes ldio-r {
    0% {
        transform: translate(74px, 40px) scale(1);
    }
    100% {
        transform: translate(74px, 40px) scale(0);
    }
}

@keyframes ldio-c {
    0% {
        background: #e15b64
    }
    25% {
        background: #abbd81
    }
    50% {
        background: #f8b26a
    }
    75% {
        background: #f47e60
    }
    100% {
        background: #e15b64
    }
}

.ldio div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(40px, 40px) scale(1);
    background: #e15b64;
    animation: ldio 3.7037037037037033s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio div:nth-child(1) {
    background: #f47e60;
    transform: translate(74px, 40px) scale(1);
    animation: ldio-r 0.9259259259259258s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-c 3.7037037037037033s infinite step-start;
}

.ldio div:nth-child(2) {
    animation-delay: -0.9259259259259258s;
    background: #e15b64;
}

.ldio div:nth-child(3) {
    animation-delay: -1.8518518518518516s;
    background: #f47e60;
}

.ldio div:nth-child(4) {
    animation-delay: -2.7777777777777777s;
    background: #f8b26a;
}

.ldio div:nth-child(5) {
    animation-delay: -3.7037037037037033s;
    background: #abbd81;
}

.loadingio-spinner-ellipsis {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.8);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio div {
    box-sizing: content-box;
}